/* ----- Button Groups ----- */

.c-example {
    position: relative;
    padding: 30px 30px 0 30px;
    border-bottom: 1px solid $border-color;

    .c-example__title {
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
        margin: 0 0 20px 0;
    }

    .c-button {
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        min-height: 34px;
        padding: 6px 12px;
        cursor: pointer;
        user-select: none;
        @include transition(background-color .25s);
        text-align: center;
        vertical-align: middle;
        white-space: normal;
        text-decoration: none;
        border-radius: 3px;
        background: $bg-default;
        -webkit-appearance: none;
        color: $white-color !important;

        &:hover {
            background-color: $purple-darken-4;
        }
    }

    .c-button-group--vertical {
        margin-bottom: 30px;

        .c-button {
            margin-bottom: 0;
        }
    }
}


.c-button::-moz-focus-inner {
    margin: 0;
    padding: 0;
}

.c-button {
    &:focus {
        outline: 1px dotted;
        outline: 3px auto -webkit-focus-ring-color;
    }
}

.c-button:hover,
.c-button:focus,
.c-button:active {
    text-decoration: none;
}

.c-button:disabled,
.c-button.is-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
}


.c-button--small {
    font-size: 12px;
    line-height: 18px;
    min-height: 28px;
    padding: 4px 8px;
    border-radius: 2px;
}

.c-button--large {
    font-size: 16px;
    line-height: 22px;
    min-height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
}

.c-button--primary {
    color: $white-color !important;
    border-color: $bg-default;
    background-color: $bg-default
}

.c-button.c-button--outline > i {
    color: $bg-info-color !important;
}

.c-button-group {
    font-size: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.c-button-group + .c-button-group {
    margin-left: 30px;
}

.c-button-group__item:not(:first-child):not(:last-child) > .c-button {
    border-radius: 0 !important;
}

.c-button-group__item > .c-button {
    display: block;
    width: 100%;
}

.c-button-group__item > .c-button:hover,
.c-button-group__item > .c-button:focus,
.c-button-group__item > .c-button:active {
    z-index: 1;
}

.c-button-group--horizontal > .c-button-group__item {
    display: inline-block;
    margin-left: -1px;
}

.c-button-group--horizontal > .c-button-group__item:first-child:not(:only-child) {
    margin-left: 0;
}

.c-button-group--horizontal > .c-button-group__item:first-child:not(:only-child) > .c-button {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.c-button-group--horizontal > .c-button-group__item:last-child:not(:only-child) > .c-button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.c-button-group--vertical > .c-button-group__item {
    display: block;
    margin-top: -1px;
}

.c-button-group--vertical > .c-button-group__item:first-child:not(:only-child) {
    margin-top: 0;
}

.c-button-group--vertical > .c-button-group__item:first-child:not(:only-child) > .c-button {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.c-button-group--vertical > .c-button-group__item:last-child:not(:only-child) > .c-button {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.c-button-group--vertical > .c-button-group__item > .c-button {
    text-align: left;
}