/* ----- Chart  CSS ----- */

#flot-categories {
    height: 300px;
}

#flot-graph,
#lineChart,
#flot-bars,
#flot-categories,
#slineChart,
#flot-pie,
#flot-bars,
#flot-graph {
    height: 300px;
    width: 100%;
}
