$heading-color: #111111;

$text-color: #323232;

$text-color-3: #555;

$bg-default: #7b1fa2;

$bg-opacity-default-5: rgba(94, 37, 114, 0.50);

$bg-opacity-default-6: rgba(94, 37, 114, 0.60);

$bg-opacity-default-7: rgba(94, 37, 114, 0.70);

$bg-opacity-default-8: rgba(94, 37, 114, 0.80);

$bg-gray: #eef5f9;

$text-gray: #b4b6b8;

$bg-gray-2: #757575;

$bg-white-1: #f6f6f6;

$bg-white-2: #f7f6f7;

$bg-dark: #1f1f2c;

$white-color: #ffffff;

$white-color-2: #eee;

$white-color-3: #f1f1f1;

$dark-color: #000000;

$border-color: #ebebeb;

$bg-coco: #462f3f;

$border-color-2: #462f3f;

$border-color-3: #111111;

$bg-secondary: #26a69a;

$bg-secondary-2: #46B8DA;

$bg-sweet: #ffc;

$bg-zerbits:#409fc4;

$text-secondary: #26a69a;

$text-secondary-2: #324e63;

$border-color-secondary: #26a69a;

$bg-success-color: #5ed84f;

$text-success-color: #5ed84f;

$bg-warning-color: #fdb901;

$text-color-warning: #fdb901;

$bg-info-color: #00abc7;

$bg-danger-color: #fc7242;

$red-darken-1: #e53935;

$red-darken-4: #b71c1c;

$red-accent-2: #ff5252;

$pink-lighten-3: #f48fb1;

$pink-lighten-1: #ec407a;

$pink-darken-4: #880e4f;

$purple-darken-4: #4a148c;

$purple-accent-3: #d500f9;

$dark-2: #343a40;

$dark-4: #322422;

$dark-3: #434343;

$white-opacity-7: rgba(255, 255, 255, 0.7);

$white-opacity-3: rgba(255, 255, 255, 0.3);

$bg-opacity-8: rgba(0, 0, 0, 0.8);

$bg-opacity-1: rgba(0, 0, 0, 0.1);

$text-opacity-6: rgba(0, 0, 0, 0.6);

$bg-white:#FAFAFB;

$badge-secondary:#26a69a;

$badge-success:#27ae60;

$badge-warning:#f1c40f;

$badge-danger:#c0392b;

$badge-dark:#111111;
$colour-primary: #5075E4;
$colour-secondary: #7b1fa2;
$colour-grey: #555555;
$grid-gutter-width: 30px;
$input-padding-horizontal: $grid-gutter-width / 3;
$input-padding-vertical: $grid-gutter-width / 3;