/* ----- Forget Password CSS ----- */

.layout-container {
    .forget-password {
        background-color: $white-color;
    }
}

.password-box {
    max-width: 460px;
    margin: 0 auto;
}

.ibox-content {
    .password-box {
        border-top: none;
    }
}

.btn {
    &.btn-primary {
        &.block {
            &.password-btn {
                padding: 10px 17px;
                font-size: 12px;
                border-radius: 0;
            }
        }
    }

}

.form-control.password {
    color: #555 !important;
}

.ibox-content--.password-box {
    padding: 50px;
}

.password-box--- {
    position: relative;
    z-index: 9999 !important;
    border-radius: 3px;
}

.bg-secondary canvas {
    z-index: -1;
    position: absolute;
}