

.fc-month-button.btn.btn-primary.active {
    border-color: transparent !important;
    margin-right: 5px;
}

.fc-agendaWeek-button {
    border-color: transparent !important;
    margin: 0 5px;
}

.fc-prev-button:first-child {
    margin-right: 5px;
}

.fc-day-grid-event {
    background-color: transparent !important;
    border-radius: 14px !important;
}
