/* ----- Footer Area CSS ----- */

.footer-text-title {
    font-size: 20px;
    color: $text-color;
    text-transform: capitalize;
}

.footer-text {
    font-size: 15px;
    font-weight: 600;
}

.footer-link {
    display: block;
    color: $text-color;
    margin-bottom: 5px;
    font-size: 14px;
}

.align-top {
    font-size: 16px;
    color: $text-color;
}
