/* ----- Tab Area CSS ----- */

.nav-tabs {
    .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

}

.nav-tabs {
    li {
        a {
            color: $text-color;
            font-weight: 500;
            padding: 10px 20px;
            font-size: 14px;

            @media #{$breakpoint-xs} {
                padding: 10px;
            }

            @media #{$breakpoint-xs-landscape} {
                padding: 10px 20px;
            }
        }
    }

}

.nav-tabs .nav-link:not(.active):focus,
.nav-tabs .nav-link:not(.active):hover {
    border-color: transparent;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}

.panel- {
    &.tab {
        p {
            font-size: 13px;
            margin-bottom: 10px;
        }
    }

}