/* ----- Tour Area CSS -----  */

.ibox---tour {
    clear: both;
    min-height: 100%;
}

.tour-btn {
    a {
        height: 45px !important;
        width: 130px !important;
        line-height: 45px !important;
        padding: 0 !important;
    }
}

.popover-navigation {
    .btn-secondary {
        margin-top: 10px;
    }
}